CompileFlags:
  Remove:
    - -std=c++11
    - -std=c++14
    - -std=c++17
  Add:
    - -std=c++20
    - -Werror
    - -Wno-writable-strings
    - -Wno-error=c++11-narrowing
    - -fpermissive
    - -Wall
    - -fexceptions
    - -Wno-error=format-security
    - -fvisibility=hidden
    - -fvisibility-inlines-hidden
    - -Wno-deprecated-declarations
    - -Wno-unused-variable
    - -Wno-unused-value
    - -Wno-unused-function
    - -Wno-reorder
    - -Wno-array-bounds
    - -Wno-misleading-indentation
    - --target=arm64-apple-ios16.5
    - "-I./Utilities"
    - "-I./ImGui"
    - "-I./Source/CppSDK"
    - "-I./Menu"
    - "-I./Source/Libraries"
  Compiler: "/Library/Developer/Toolchains/Hikari_LLVM16.0.0.xctoolchain/usr/bin/clang++"
