Package: com.example.projdragon
Name: ProjDragon
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Advanced Game Cheat for Ark Survival Evolved
Maintainer: Project Contributors
Author: Project Contributors
